<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211462705969-lh290i7odam55bk03ap2j63gtj0vrift.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211462705969-lh290i7odam55bk03ap2j63gtj0vrift</string>
	<key>API_KEY</key>
	<string>AIzaSyC1bS1-6jNBL_CTu126xKs72oGLVXMYIbk</string>
	<key>GCM_SENDER_ID</key>
	<string>211462705969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.tnfy10.firebaseChatExample</string>
	<key>PROJECT_ID</key>
	<string>chat-example-c5e53</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-example-c5e53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211462705969:ios:8489e2d1178659ce529610</string>
</dict>
</plist>